* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .form-client #form-cad-client {
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 203, 205);
    width: 400px;
    padding: 2rem;
    margin: 20px;
}

.container .form-client #form-cad-client label {
    margin: 10px 0 4px 0;
    font-size: 20px;
}

.container .form-client #form-cad-client .input-cad-client {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.container .form-client #form-cad-client .input-cad-client input {
    padding: 6px;
    border-radius: 5px;
    border: none;
}

.container .form-client #form-cad-client .input-cad-client #btn-cad-client {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(160, 163, 160);
    font-size: 20px;
    cursor: pointer;
}

.container #table-users {
    margin-top: 20px;
}

.container #table-users table {
    border-collapse: collapse;
}

.container #table-users table thead {
    background-color: rgb(198, 198, 197);
}

.container #table-users table thead tr th {
    min-width: 100px;
    text-align: left;
    padding: 5px;
}
