.form {
    background-color: rgb(233, 233, 233);
    margin: 0px auto 0px auto;
    padding: 8px;
    width: 400px;
    box-sizing: border-box;
  }
  
  .form #cad-user .form-control {
    display: flex;
    flex-direction: column;
    margin: 6px 0px;
  }
  
  .form #cad-user .form-control input {
    margin: 3px 0px;
  }
  
  .table {
    margin: 20px auto 0px auto;
    width: 400px;
  }
  
  .table #table-users {
    border-collapse: collapse;
  }
  
  .table #table-users tr {
    width: 100%;
  }
  
  .table #table-users #th-header-table {
    background-color: rgb(233, 233, 233);
  }
  
  .table #table-users tr th {
    text-align: start;
    min-width: 132px;
  }